// src/assets/styles/button-styles.scss
@import "variables";
.button {
  font-size: 16px;
  color: $green;
  background-color: $white;
  border: 1.5px solid $green;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 35px;
  font-family: $font-family;

  &--small {
    padding: 6px 12px;
    font-size: 14px;
  }

  &--large {
    border-radius: 4px;
    padding: 10px 30px;
    background: $green;
    color: $white;
    width: auto;
    height: auto;
  }

  &:hover {
    background-color: $green;
    color: $white;
    transition: background-color 0.3s;
  }

  &:focus {
    outline: none;
  }
}
