@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$green: #366159;
$white: #fff;
$black: #1e1e1e;
$cream: #fbf6f0;
$gray: #888;
$font-family: "Inter", sans-serif;
$second-family: "Lato", sans-serif;

$color-primary: $green;
$color-primary-hover: darken($color-primary, 10%);
$color-background: #f0f5fa;
$color-border: #f0f5fa;
$color-text: #3f3f55;
$color-subtitle: #9398a8;
